.sw-container-fluid {
  @extend %containerPadding;
}

.sw-height-100 {
  height: 100%;
}
.sw-row {
  @extend %rowProperty;
}
.col {
  @extend %columnPadding
}

.col-mb {
  margin-bottom: -$column-margin * 2 ;
  & > .col {
    margin-bottom: $column-margin * 2;
  }
}

.sw-col-min{
  @extend %columnPadding;
  @extend %column-min;
}
.sw-col-fluid{
  @extend %columnPadding;
  @extend %column-fluid;
}
.sw-col-1{
  @extend %columnPadding;
  @extend %column-1;
}
.sw-col-2{
  @extend %columnPadding;
  @extend %column-2;
}
.sw-col-3{
  @extend %columnPadding;
  @extend %column-3;
}
.sw-col-4{
  @extend %columnPadding;
  @extend %column-4;
}
.sw-col-5{
  @extend %columnPadding;
  @extend %column-5;
}
.sw-col-6{
  @extend %columnPadding;
  @extend %column-6;
}
.sw-col-7{
  @extend %columnPadding;
  @extend %column-7;
}
.sw-col-8{
  @extend %columnPadding;
  @extend %column-8;
}
.sw-col-9{
  @extend %columnPadding;
  @extend %column-9;
}
.sw-col-10{
  @extend %columnPadding;
  @extend %column-10;
}
.sw-col-11{
  @extend %columnPadding;
  @extend %column-11;
}
.sw-col-12{
  @extend %columnPadding;
  @extend %column-12;
}

// SW CARDS START
.sw-col-12 {
  &:first-child .sw-card {
    border-top: 1px solid #3C3374;
  }
}


%innerPaddings {
  padding-top: 30px;
  padding-bottom: 30px;
}


.sw-container {
  max-width: 780px;
  margin-bottom: 80px;
}


.t-primary-headings {
  font-weight: normal;
  font-size: 24px;
  line-height: 1;
}
.t-secondary-headings {
  font-weight: normal;
  font-size: 20px;
}
.t-sub-headings {
  font-size: 16px;
}

.sw-col-12 {
  &:first-child .sw-card {
    border-top: 1px solid #3C3374;
  }
}

.sw-card {
  border-bottom: 1px solid #3C3374;
  margin: 0 auto;
  padding-top: 7px;
  padding-right: 6px;
  padding-left: 15px;
  padding-bottom: 7px;
  &__link-types {
    display: flex;
    &-item {
      //border: 1px solid #7F8C8D;
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      & .material-icons {
        font-size: 20px;
        color: #7F8C8D;
      }
    }
  }
  &--mini-version {
    padding: 0;
  }
  &__inner {
    display: flex;
  }
  &__prime-side {
    flex: 1;
  }
  &__secondary-side {
    flex: 0;
    position: relative;
  }
  &__heading {
    margin-bottom: 6px;
    position: relative;
    &--flexed {
      display: flex;
      align-items: center;
    }
  }
  &__body {
    &--flexed {
      display: flex;
      align-items: center;
    }
    &--fixed {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}

.sw-title {
  font-weight: normal;
  font-size: 24px;
  display: flex;

  &__large-text-hidden {
    white-space: nowrap;
    overflow: hidden;
    max-width: 450px;
    text-overflow: ellipsis;
  }
  &__code {
    font-family: Calibri, sans-serif;
  }
  &__slash {
    padding: 0 3px;
  }
  &__text {
  }
}
.sw-dropbox {
  //border: 1px solid blue;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  width: 300px;
  position: absolute;
  top: 100%;
  display: flex;
  flex-wrap: wrap;
  background: white;
  z-index: 9999;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: default;
  &--activated {
    display: flex;
  }
  &__headding {
    border-bottom: 1px solid #7F8C8D;
    width: 50%;
    padding: 0 20px 10px 20px;
    &--activated {
      color: #3C3374;
    }
    & h2 {
      font-size: 15px;

    }
  }
  &__content {
    //border: 1px solid purple;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  &__response-text {
    color: red;
    font-size: 14px;
    &--activated {
      display: block;
    }
    &--deactivated {
      display: none;
    }
  }
  &__send-code {
    font-size: 14px;
    display: none;
    &--activated {
      display: block;
    }
  }
}
.sw-desicion-status {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 5px;
  cursor: pointer;
  &__icon {
    width: 15px;
    height: 15px;
    font-size: 10px;
    font-family: sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    & .material-icons {
      font-size: 17px;
    }
    &--error {
      color: red;
    }
    &--success {
      color: green;
    }
    &--send {
      color: #7F8C8D;
    }
  }
  &__text {
    //border: 1px solid red;
    padding: 0 5px;
    font-size: 14px;
    line-height: 1;
    &--error {
      color: red;
    }
    &--success {
      color: green;
    }
    &--send {
      color: #7F8C8D;
    }
  }
}
.sw-date {
  //border: 1px solid black;
  display: flex;
  font-family: Calibri, sans-serif;
  font-size: 14px;
  line-height: 1;
  &__divider {
    //border: 1px solid red;
    display: flex;
    align-items: center;
    &:not(:last-child) {
      margin-right: 5px;
    }
  }
  &__icon {
    //border: 1px solid green;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    & .material-icons {
      color: #7F8C8D;
      font-size: 15px;
    }
  }
  &__value {
    //border: 1px solid purple;
  }
}
.sw-difficult-count {
  border: 1px solid black;
  width: 15px;
  height: 15px;
  font-size: 10px;
  font-family: sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  margin: 0 5px;
  &--easy {
    border-color: #27AE60;
    color: #27AE60;
  }
  &--medium {
    color: #E67E22;
    border-color: #E67E22;
  }
  &--hard {
    border-color: #D41A07;
    color: #D41A07;
  }
}

.sw-rating-list {
  list-style: none;
  display: flex;
  &__item {
    width: 9px;
    height: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2px;
    & .material-icons {
      font-size: 14px;
      color: #F6B93B;
    }
  }
}
.sw-procent-finishing {
  font-size: 12px;
  margin: 0 2.5px;
  padding: 0 2.5px;
}
.sw-author {
  white-space: nowrap;
}
.sw-time {
  font-family: Calibri, sans-serif;
  display: flex;
  align-items: center;
  margin-top: 5px;
  color: #7F8C8D;
  &__date {
    display: flex;
    align-items: center;
  }
  &__hour {
    display: flex;
    align-items: center;
  }
  &__icon {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    & .material-icons {
      font-size: 19px;
    }
  }
  &__text {
    padding: 0 5px;
    font-size: 14px;
  }
}



.sw-subtitle {
  font-weight: normal;
  font-size: 16px;
  color: #7F8C8D;
  max-width: 420px;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  &--flexed {
    display: flex;
    align-items: center;
  }
  &__social {
    display: flex;
    align-items: center;
    &-icon {
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 5px;
    }
    &-name {
      line-height: 1;
    }
  }
  &--error {
    color: #E74C3C;
  }
  &--success {
    color: #27AE60;
  }
}

.sw-card-tools {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0 -7px;
  position: relative;
  &__notification {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    position: absolute;
    top: 10px;
    left: -10px;
    background: #E74C3C;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 11px;
  }
  &__item {
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 7px;
    position: relative;
    & img {
      width: 100%;
    }
    &--using-counts {
      background: #FF555F;
      color: white;
    }
    &--user-counts {
      border: 1px solid #7F8C8D;
      color: #7F8C8D;
      border-radius: 1px;
    }
    &--alert {
      color: #7F8C8D;
    }
    &--error {
      color: #7F8C8D;
    }
    &--done {
      color: #27AE60;
    }
    &--flag {
      color: #E74C3C;
    }
    & .material-icons {
      font-size: 20px;
    }
  }
  &__counts {
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: -10px;
    left: -5px;
    background: #FF555F;
    border-radius: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.sw-card-more-button {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  color: #7F8C8D;
  & .material-icons {
    font-size: 20px;
  }
  &__dropdown {
    position: absolute;
    top: 20px;
    width: 160px;
    right: 0;
    background: white;
    padding: 5px 10px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
    z-index: 9999;
    &-item {
      padding-top: 10px;
      padding-bottom: 10px;
      text-align: center;
      cursor: pointer;
      margin: 0 -10px;
      transition: 0.2s;
      &:hover {
        background: #7F8C8D;
        color: white;
      }
    }
  }
}

.sw-problem-status {
  width: 15px;
  height: 15px;
  margin: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  &--error {
    color: #E74C3C;
  }
  &--success {
    color: #27AE60;
  }
  & .material-icons {
    font-size: 15px;
  }
}




// SW LIST

.sw-list {
  &__from {
    display: block;
    margin-right: 5px;
  }
  &--visible-sublist {
    display: block;
    font-size: 13px;
    flex: 1 100%;
    margin-top: 5px;
    padding: 0 0 0 66px;
  }
  &__from-input {
    display: block;
    width: 100%;
    outline: none;
    background: #290043;
    color: white;
    border: none;
    padding: 2.5px;
    font-size: 13px;
  }
  &--active-sublist {
    flex: 1 100%;
    margin-top: 5px;
    padding: 0 0 0 35px;
    display: flex;
    align-items: center;
    & .sw-list__item {
      //border: 1px solid red;
      font-size: 13px;
      display: flex;
      flex-wrap: nowrap;
      width: 50%;
      margin-right: 5px;
      &:not(:last-child) {
        margin-bottom: 0;
      }
    }
  }
  &__level-check {
    cursor: pointer;
  }
  &__level-checked-icon {
    width: 10px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    & .material-icons {
      opacity: 0;
      font-size: 9px;
      &--activated {
        opacity: 1;
      }
    }
  }
  &--flexed {
    display: flex;
    align-items: center;
    margin: 0 -5px;
    & > .sw-list__item {
      width: 15px;
      height: 15px;
      margin-bottom: 0 !important;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 5px;
      margin-left: 5px;
    }
  }
  &--sublist {
    flex: 1 100%;
    margin-top: 5px;
    padding: 0 0 0 66px;
    display: none;
    & > .sw-list__item {
      font-size: 13px;
    }
    &  > .sw-list__item {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }
  &--sublist-activated {
    display: block;
  }
  &__sublist-label {
    white-space: nowrap;
    max-width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    cursor: pointer;
  }
  &__item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    &--sublist {
      background: red;
    }
    &:not(:last-child) {
      margin-bottom: 14px;
    }
    &-icon {
      width: 24px;
      height: 24px;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      & .material-icons {
        font-size: 20px;
      }
      &--centered {
        margin: 0 auto;
      }
    }
  }
  &__checked-icon {
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    & .material-icons {
      opacity: 0;
      transition: 0.1s;
      font-size: 14px;
      &--activated {
        opacity: 1;
      }
    }
  }
  &__label {
    flex: 1;
    font-size: 14px;
    padding: 0 22px;
    max-width: 180px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    &--padding {
      padding: 0 0 0 46px;
    }
  }
  &__text {
    background: red;
    flex: 1;
    font-size: 14px;
  }
}


.sw-checkbox {
  width: 320px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  &__item {
    border: 1px solid lightgrey;
    width: 15px;
    height: 15px;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    &--hidden {
      display: none;
    }
    & .material-icons {
      font-weight: bold;
      font-size: 15px;
      color: #3C3374;
      opacity: 0;
      transition: 0.2s;
      &--activated {
        opacity: 1;
      }
    }
  }
  &__checked {
    background: #02AFC6;
    width: 0;
    height: 0;
    transition: 0.2s;
    &--activated {
      width: 100%;
      height: 100%;
    }
  }
  &__label {
    font-size: 14px;
    margin: 0 5px;
    cursor: pointer;
  }
}

.sw-select-box {
  background: white;
  margin: 0 auto;
  position: relative;
  z-index: 9999;
  &--activated {
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  }
  &__selected {
    outline: 1px solid lightgrey;
    padding: 10px;
    font-size: 14px;
    position: relative;
    cursor: pointer;
  }
  &__arrow-icon {
    width: 15px;
    height: 15px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    & .material-icons {
      transition: 0.2s;
      &--activated {
        transform: rotate(180deg);
      }
    }
  }
  &__list {
    display: none;
    position: absolute;
    top: 105%;
    left: 0;
    right: 0;
    background: white;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    max-height: 200px;
    overflow-y: auto;
    &--activated {
      display: block;
    }
  }
  &__list-item {
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    &:not(:last-child) {
      border-bottom: 1px solid lightgrey;
    }
  }
}

.sw-input {
  width: 320px;
  margin: 0 auto 10px auto;
  position: relative;
  &__tooltip {
    position: absolute;
    width: 300px;
    top: 0;
    left: 100%;
    padding: 0 15px;
    &-inner {
      background: rgba(0, 0, 0, 0.71);
      border-radius: 2px;
      padding: 10px;
      color: white;
      font-weight: bold;
      font-size: 14px;
    }
  }
  &__inputs {
    border: 1px solid lightgrey;
    width: 100%;
    display: block;
    padding: 10px;
    font-size: 14px;
    outline: none;
    transition: 0.2s;
    &:focus {
      border: 1px solid #0496FF;
    }
    &--error {
      border: 1px solid #FF4D4D;
    }
    &--success {
      border: 1px solid #4CAF50;
    }
    &--warning {
      border: 1px solid orange;
    }
  }
  &__validation {
    padding: 5px 10px;
    font-size: 12px;
    display: flex;
    align-items: center;
    &--error {
      color: #FF4D4D;
    }
    &--success {
      color: #4CAF50;
    }
    &--warning {
      color: orange;
    }
    &-icon {
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      & .material-icons {
        font-size: 18px;
      }
    }
    &-text {
      padding: 0 10px;
      font-weight: bold;
    }
  }
}
.sw-button {
  width: 100%;
  display: block;
  padding: 10px 30px;
  border-radius: 2px;
  background: none;
  outline: none;
  border: 0;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
  &--mini-version {
    width: 20%;
  }
  &--default {
    background: #3C3374;
    color: white;
    &:hover {
      background: #2B2455;
    }
  }
  &--disabled {
    background: #A59ECF;
    color: white;
  }
  &--default-outline {
    border: 1px solid #3C3374;
    background: white;
    color: #3C3374;
  }
  &--danger {
    background: #FF5454;
    color: white;
    &:hover {
      background: #D64B4B;
    }
  }
  &--danger-disabled {
    background: #FE9797;
    color: white;
  }
  &--danger-outline {
    border: 1px solid #FF5454;
    background: white;
    color: #FF5454;
  }
}


.sw-context-card {
  margin-bottom: 29px;
  position: relative;
  &__dropdown {
    left: 0;
    right: 0;
    top: 0;
    position: absolute;
    //border: 1px solid red;
    padding: 15px 10px;
    background: white;
    z-index: 9999;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  }
  &__dropdown-list {
    //border: 1px solid green;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    &-item {
      width: 50%;
      //border: 1px solid blue;
      display: flex;
      align-items: center;
      margin-bottom: 5px;
    }
  }
  &__dropdown-select {
    border: 1px solid dodgerblue;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__dropdown-select-item {
    background: dodgerblue;
    width: 9px;
    height: 9px;
  }
  &__dropdown-label {
    //border: 1px solid red;
    font-size: 13px;
    margin: 0 10px;
    cursor: pointer;
  }
  &__dropdown-submit {
    //border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: -2.5px;
    margin-right: -2.5px;
    & .sw-button {
      padding: 5px;
      width: 45%;
      margin: 0 2.5px;
    }
  }
  &:hover {
    .sw-context-card__drag {
      display: block;
    }
  }
  &__drag {
    display: none;
    position: absolute;
    width: 15px;
    left: -15px;
    top: 0;
    bottom: 0;
    padding: 0 5px 0 0;
    &-inner {
      background: #BEBEBE;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
    & .material-icons {
      color: white;
      width: 15px;
      height: 15px;
      font-size: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &__heading {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #470075;
    &-title {
      font-size: 16px;
      flex: 1;
    }
    &-tools {
      display: flex;
      padding: 0 3px;
      margin: 0 -3px;
    }
  }

  &__body {
    position: relative;
  }
  &__more {
    border-top: 1px solid #470075;
    border-bottom: 1px solid #470075;
    display: flex;
    justify-content: center;
    align-items: center;
    & .material-icons {
      display: block;
      font-size: 16px;
      color: #470075;
    }
  }
  &__tools-icon {
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    & .material-icons {
      font-size: 14px;
      font-weight: bold;
    }
  }
  &__list {
    &-item {
      &:not(:last-child) {
        border-bottom: 1px solid #470075;
      }
    }
  }
}

.sw-tags {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1.5px;
  &--margin-right {
    margin: 0 15px;
  }
  &__item {
    font-size: 13px;
    flex: 1 auto;
    padding: 2.5px;
    margin: 0 1.5px 3px 1.5px;
    background: #C5CAE9;
    &:last-child {
      flex: 0 auto;
    }
    &:nth-last-child(2) {
      flex: 0 auto;
    }
  }
}
.sw-problem-info {

  &__line {
    font-size: 14px;
    display: flex;
    align-items: center;
  }
  &__label {
  }
  &__value {
    padding: 0 5px;
    display: flex;
  }
  &__author {
  }
  &__difficult {
    width: 14px;
    height: 14px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &--hard {
      border: 1px solid #E74C3C;
      color: #E74C3C;
    }
    &--medium {
      border: 1px solid orange;
      color: orange;
    }
    &--easy {
      border: 1px solid green;
      color: green;
    }
  }
  &__attempts {
    &-error {
      color: #E74C3C;
    }
    &-success {
      color: #27AE60;
    }
  }
}
.sw-problem-hints {
  font-size: 14px;
}

.sw-card--mini-version {
  border: 0;
  padding-top: 5px;
  & .sw-card__heading {
    margin-bottom: 2.5px;
  }
  & .sw-subtitle {
    font-size: 10px;
    max-width: 200px;
  }
  & .sw-title {
    flex: 1;
    font-size: 14px;
  }
  & .sw-card-tools {
    margin: 0 -3.5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  & .sw-card-tools__item {
    width: 20px;
    height: 20px;
    margin: 0 3.5px;
    & .material-icons {
      font-size: 18px !important;
    }
  }
  & .sw-difficult-count {
    margin-right: 5px;
    margin-left: 5px;
  }
  & .sw-links-icons {
    margin: 0 -1px;
  }
  & .sw-links-icons__item {
    margin: 0 1px;
    width: 17px;
    height: 17px;
    & .material-icons {
      font-size: 14px !important;
    }
  }
  & .sw-date {
    flex: 1;
    display: flex;
    &__calendar {
      width: 50%;
      display: flex;
      align-items: center;
    }
    &__time {
      width: 50%;
      display: flex;
      align-items: center;
    }
    &__icon {
      width: 17px;
      height: 17px;
      display: flex;
      justify-content: center;
      align-items: center;
      & .material-icons {
        font-size: 14px !important;
        color: #7F8C8D;
        font-weight: bold;
      }
    }
    &__text {
      flex: 1;
      padding: 0 4px;
    }
  }
}

.sw-database-list {
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  &__item {
    color: #52107D;
  }
}


.sw-form-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  position: relative;
  &__item {
    width: 50%;
    display: flex;
    align-items: center;
  }
  &__container {
    width: 100%;
  }
  &__check {
    border: 1px solid #470075;
    width: 16px;
    height: 16px;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
  }
  &__checked {
    background: #470075;
    width: 0;
    height: 0;
    border-radius: 100%;
    transition: 0.2s;
    &--activated {
      width: 10px;
      height: 10px;
    }
  }
  &__edit {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    right: -20px;
    top: 0;
    justify-content: center;
    align-items: center;
    color: #7E7E7E;
    display: none;
    & .material-icons {
      font-size: 16px;
    }
  }
  &--column {
    flex-direction: column;
    align-items: flex-start;
  }
  &__label {
    width: 45%;
    cursor: pointer;
    &--minified {
      font-size: 13px;
      width: 25%;
    }
    &--mb {
      margin-bottom: 8px;
    }
  }
  &__input {
    width: 55%;
    height: 35px;
    position: relative;
    &--minified {
      width: 75%;
    }
    &:hover .sw-form-group__edit {
      display: flex;
    }
    &--activated {
      height: 130px;
    }
    display: flex;
    align-items: center;
    &--w100 {
      width: 100%;
    }
    &--height-44 {
      height: 44px;
    }
    &--height-56 {
      height: 56px;
    }
  }
}

.sw-from-input {
  height: 100%;
  width: 100%;
  font-family: "CORBEL", sans-serif;
  font-size: 16px;
  padding: 0 5px;
  background: none;
  border: 1px solid white;
  transition: 0.2s;
  border-radius: 2px;
  outline: 0;
  &:focus {
    border: 1px solid #470075;
  }
  &--create-task-subject {
    background: rgba(71, 0, 117, 0.08);;
  }
}

.sw-form-level {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 5px;
  &__item {
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #7E7E7E;
    &--checked {
      color: #F6B93B;
    }
    & .material-icons {
      font-size: 16px;
    }
  }
}

.sw-form-select {
  border: 1px solid white;
  width: 100%;
  height: 100%;
  padding: 0 5px;
  position: relative;
  transition: 0.2s;
  border-radius: 2px;
  &--activated {
    border: 1px solid #470075;
  }
  &__selected {
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    &--minified {
      font-size: 13px;
    }
    &--default {
      color: #7E7E7E;
    }
  }
  &__arrow {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    & .material-icons {
      font-size: 20px;
      transition: 0.2s;
      &--rotated {
        transform: rotate(180deg)
      }
    }
  }
  /* Rectangle */


  &__list {
    position: absolute;
    left: 0;
    right: 0;
    top: 105%;
    background: white;
    padding: 0 5px;
    display: none;
    z-index: 9999;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    &--minified {
      font-size: 13px;
    }
    &--activated {
      display: block;
    }
  }
  &__list-item {
    cursor: pointer;
    padding: 10px 0;
    &--no-paddings {
      padding: 0;
    }
  }
}

.sw-form-checkbox {
  border: 2px solid #7E7E7E;
  width: 16px;
  height: 16px;
  margin: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
  cursor: pointer;
  &__check {
    width: 0;
    height: 0;
    background: #7E7E7E;
    transition: 0.2s;
    &--checked {
      width: 10px;
      height: 10px;
    }
  }
}
.sw-form-text-area {
  width: 100%;
  height: 100%;
  padding: 5px;
  font-family: "CORBEL", sans-serif;
  font-size: 16px;
  background: none;
  outline: none;
  resize: none;
  border-radius: 2px;
  &:focus {
    border: 1px solid #470075;
  }
  &--create-task-subject {
    border: 0;
    background: rgba(71, 0, 117, 0.08);
  }
}

.sw-form-similar-tasks {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  margin: 0 -2.5px -5px -2.5px;
  &__item {
    padding: 0 3.5px;
    flex: 0 50%;
    margin-bottom: 5px;
    & .sw-card--mini-version {
      //padding: 0;
      padding-left: 5px;
      padding-right: 5px;
      border: 1px solid lightgrey;
    }
  }
}

.sw-form-buttons {
  display: flex;
  justify-content: flex-end;
  margin: 0 -10px;
  &--start {
    justify-content: flex-start;
  }
  &__button {
    width: 160px;
    padding: 0 10px;
  }
}

.sw-accordion--mini-version {
  .sw-accordion__heading {
    padding: 2.5px 0;
    font-size: 16px;
  }
}
.sw-accordion--negative-margin {
  margin: 0 -7px;
}
.sw-accordion {
  padding: 0;
  &__heading {
    cursor: pointer;
    padding: 5px 0;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #52107D;
  }
  &__expand {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__body {
    padding: 5px 0;
    &--activated {
      display: block;
    }
  }
}
.sw-form-images {
  margin: 0 -5px -10px -5px;
  display: flex;
  flex-wrap: wrap;
  &__item {
    width: 22%;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
    position: relative;
    &:hover .sw-form-images__blur {
      display: flex;
    }
    & img {
      display: block;
      width: 100%;
    }
  }
  &__blur {
    position: absolute;
    background: rgba(127, 140, 141, 0.59);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    justify-content: center;
    align-items: center;
    color: #470075;
    & .material-icons {
      cursor: pointer;
    }
  }


  &__add-image {
    width: 10%;
    background: rgba(127, 140, 141, 0.59);
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #470075;
  }
}
.sw-create-subject-form {
  padding: 0 7px;
}
.sw-edit-subject-form {
  padding: 10px 15px;
}

.sw-hints {
  display: flex;
  align-items: flex-end;
  padding: 9px 0;
  position: relative;
  &:hover .sw-hints__drag-n-drop {
    display: flex;
  }
  &__drag-n-drop {
    width: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -15px;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(127, 140, 141, 0.59);
    color: #470075;
    cursor: pointer;
    & .material-icons {
      font-size: 16px;
    }
  }
  &__text {
    flex: 1;
  }
  &__more {
    width: 20px;
    height: 20px;
    color: #470075;
    display: flex;
    justify-content: center;
    align-items: center;
    & .material-icons {
      font-size: 20px;
    }
  }
}

.sw-table {
  width: 100%;
  border-spacing: 0;
  &__label {
    display: flex;
    align-items: center;
    width: 100%;
    line-height: 1;
    cursor: pointer;
  }
  &__label-checked {
    width: 15px;
    height: 15px;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: green;
    opacity: 0;
    transition: 0.2s;
    &--activated {
      opacity: 1;
    }
    & .material-icons {
      font-size: 14px;
    }
  }
  &__head {
  }
  &__th {
    text-align: left;
    font-weight: normal;
    padding-top: 5px;
    padding-bottom: 5px;
    &--90 {
      width: 80%;
    }
    &--10 {
      width: 20%;
      text-align: center;
    }
  }
  &__item {
    padding-top: 5px;
    padding-bottom: 5px;
    &--90 {
      width: 80%;
      cursor: pointer;
    }
    &--10 {
      width: 20%;
      text-align: center;
    }

  }
  &__check {
    border: 1px solid #470075;
    width: 16px;
    height: 16px;
    margin: 0 auto;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  &__checked {
    width: 0;
    height: 0;
    background: #470075;
    border-radius: 100%;
    transition: 0.2s;
    &--activated {
      width: 10px;
      height: 10px;
    }
  }
}

.sw-checkbox-input {
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  & .material-icons {
    opacity: 0;
    transition: 0.1s;
    font-size: 14px;
    &--activated {
      opacity: 1;
    }
  }
}

.sw-role-list {
  display: flex;
  margin-left: -2.5px;
  margin-right: -2.5px;
  &__item {
    margin: 0 2.5px;
    & img {
      width: 100%;
      display: block;
    }
  }
}

.width-100 {
  width: 100%;
}

