* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  overflow-x: hidden;
}
body {
  height: 100%;
}
ul {
  list-style: none;
}
#root {
  //border: 1px solid red;
  height: 100%;
}