@font-face {
  font-family: "CORBEL";
  src: url("../fonts/CORBEL.TTF");
}

@font-face {
  font-family: "Corbel_Bold";
  src: url("../fonts/Corbel_Bold.ttf");
}
@font-face {
  font-family: "Corbelb";
  src: url("../fonts/CORBELB.TTF");
}
@font-face {
  font-family: "Calibri";
  src: url("../fonts/calibri.ttf");
}
body {
  font-family: CORBEL, sans-serif;
}
