.p-index {
  padding-top: 29px;
  &__inner {
    padding: 0 22px 0 33px
  }
  &__heading {
    //border: 1px solid red;
    margin-bottom: 16px;
    &--flexed {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  &__body {
    //border: 1px solid red;
  }
}
.p-context-menu {
  max-width: 299px;
  //border: 1px solid red;
  padding-top: 29px;
  padding-bottom: 29px;
  padding-right: 15px;
  &__inner {
    //border: 1px solid blue;
  }
}