.c-subject-logo {
  width: 37px;
  height: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.c-subject-name {
  flex: 1;
  padding: 0 11px;
  &__title {
    font-size: 16px;
  }
  &__subtitle {
    font-size: 14px;
  }
}

.c-filter {
  &__heading {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
  }
  &__body {
    margin-bottom: 24px;
  }
  &__icon {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    & .material-icons {
      font-size: 20px;
    }
  }
  &__label {
    flex: 1;
    font-size: 14px;
    padding: 0 22px;

  }
  &__arrow {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    & .material-icons {
      font-size: 20px;
    }
  }
  &__buttons-block {
    //border: 1px solid red;
    display: flex;
    margin: 0 -10px;
  }
  &__update {
    //border: 1px solid white;
    width: 50%;
    padding: 0 10px;
    height: 25px;
  }
  &__clear {
    //border: 1px solid green;
    width: 50%;
    padding: 0 10px;
    height: 25px;
  }
  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: none;
    outline: none;
    border: 0;
    transition: 0.2s;
    cursor: pointer;
    &:hover {
      background: #602785;
    }
    & .material-icons {
      display: block;
      height: 100%;
      font-size: 18px;
      color: white;
    }
  }
}
@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.c-description {
  &__spinner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.41);
    display: flex;
    justify-content: center;
    align-items: center;
    &-element {
      width: 30px;
      height: 30px;
      animation: rotating 1s linear infinite;
      & img {
        width: 100%;
      }
    }
  }
  &__rating {
    //border: 1px solid red;
    display: flex;
    align-items: center;
    &-item {
      //border: 1px solid black;
      width: 18px;
      height: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      & .material-icons {
        font-size: 16px;
      }
    }
  }
  &:not(:last-child) {
    margin-bottom: 15px;
  }
  &__inner {
    padding: 0 7px;
  }
  &__heading {
    border-bottom: 1px solid #3C3374;
    padding-bottom: 7.5px;
    margin-bottom: 15px;
  }
  &__body {
  }
  &__col {
    margin-bottom: 5px;
    position: relative;
  }
  &__text {
    font-size: 14px;
  }
  &__value {
    font-size: 14px;
  }
  &__link {
    font-size: 14px;
    color: #3C3374;
    font-weight: bold;
    & a {
      color: inherit;
      text-decoration: none;
    }
  }
  &__text-area {
    font-family: monospace;
    border: 0;
    width: 100%;
    height: 150px;
    border-radius: 4px;
    resize: none;
    padding: 10px;
    outline: none;
    background:rgba(71, 0, 117, 0.03);
  }
}

.c-add-button {
  //border: 1px solid red;
  color: #7F8C8D;
  width: 25px;
  height: 25px;
  cursor: pointer;
  & .material-icons {
    transition: 0.2s;
    &--activated {
      transform: rotate(45deg);
    }
  }
}
.c-form-container {
  //border: 1px solid red;
  padding: 10px 7px;
  display: none;
  &--activated {
    display: block;
  }
  //max-width: 560px;
  &__heading {
    //border: 1px solid orange;
    margin-bottom: 16px;
  }
  &__body {
    //border: 1px solid green;
  }
}
.c-form-set-padding {
  //border: 1px solid red;
  padding: 0 15px;
}

.c-sent-queries {
  //border: 1px solid black;
  margin-bottom: 30px;
  &__heading {
    //border: 1px solid red;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    height: 35px;
  }
  &__send {
    //border: 1px solid red;
    margin: 0 15px;
    position: relative;
  }
  &__select-content{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 130%;
    left: 0;
    width: 400px;
    height: 150px;
    background: white;
    z-index: 99999;
    font-size: 12px;
  }
  &__select-heading {
    //border: 1px solid blue;
    padding: 10px;
    border-bottom: 1px solid #7F8C8D;
    font-weight: bold;
  }
  &__select-form {
    padding: 10px;
  }
  &_icon{
    //border: 1px solid blue;
    display: block;
    & .material-icons {
      display: block;
      font-size: 18px;
      color: #7F8C8D;
    }
  }
}
.c-received-queries {
  &__heading {
    //border: 1px solid red;
    height: 35px;
    margin-bottom: 10px;
  }
}