@mixin columnProperty($column) {
  $result: $column / 12;
  width: $result * 100%
}

%containerPadding {
  padding-left: $column-padding;
  padding-right: $column-padding;
}
%columnPadding {
  padding-left: $column-padding;
  padding-right: $column-padding;
}
%rowProperty {
  display: flex;
  flex-wrap: wrap;
  margin-left: 0 - $column-margin;
  margin-right: 0 - $column-margin;
}

// EXTRA SMALL
%column-min {
  flex: 0 auto;
}
%column-fluid{
  flex: 1;
}
%column-1 {
  @include columnProperty(1)
}

%column-2 {
  @include columnProperty(2)
}
%column-3 {
  @include columnProperty(3)
}
%column-4 {
  @include columnProperty(4)
}
%column-5 {
  @include columnProperty(5)
}
%column-6 {
  @include columnProperty(6)
}
%column-7 {
  @include columnProperty(7)
}
%column-8 {
  @include columnProperty(8)
}
%column-9 {
  @include columnProperty(9)
}
%column-10 {
  @include columnProperty(10)
}
%column-11 {
  @include columnProperty(11)
}
%column-12 {
  @include columnProperty(12)
}
